<section class="post-comments" aria-label="Comments">
  <script src="https://giscus.app/client.js"
          data-repo="fhalde/fhalde.github.io"
          data-repo-id="MDEwOlJlcG9zaXRvcnk3NjE3NTQxNA=="
          data-category="Blog comments"
          data-category-id="DIC_kwDOBIpYNs4DF4Be"
          data-mapping="pathname"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="top"
          data-theme="preferred_color_scheme"
          data-lang="en"
          data-loading="lazy"
          crossorigin="anonymous"
          async>
  </script>
</section>
